[submodule "Pressia/vendor/spdlog"]
	path = Pressia/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Pressia/vendor/GLFW"]
	path = Pressia/vendor/GLFW
	url = https://github.com/GenM4/glfw
