[submodule "Pressia/vendor/spdlog"]
	path = Pressia/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Pressia/vendor/GLFW"]
	path = Pressia/vendor/GLFW
	url = https://github.com/GenM4/glfw
[submodule "Pressia/vendor/glm"]
	path = Pressia/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Pressia/vendor/imgui"]
	path = Pressia/vendor/imgui
	url = https://github.com/GenM4/imgui
[submodule "Pressia/vendor/yamlcpp"]
	path = Pressia/vendor/yamlcpp
	url = https://github.com/GenM4/yaml-cpp
